# GENERATED FILE — edit docs/openapi/client-api.base.yaml or scripts/, then npm run openapi:client

openapi: 3.0.3
info:
  title: ModelClone Client & integration API
  version: 1.1.0
  contact:
    name: ModelClone API — integrations & partners
    email: integrations@modelclone.app
    url: https://modelclone.app/support
  license:
    name: Proprietary
    url: https://modelclone.app/terms
  description: |
    Production-oriented catalog of HTTP routes used by **`https://modelclone.app`** (web app),
    integrations, and self-serve **`mcl_`** API keys.

    ### Canonical surface
    - **Integrators:** Prefer **`https://modelclone.app/api/v1/...`**. SPA mirror **`/api/...`** repeats the same handlers for migration and browser traffic; duplicates appear in this spec **`deprecated`** when a **`/api/v1/...`** twin exists (**Flows Studio** remains **` /api/flows/...`** only — not mirrored under **`/api/v1/flows`**).

    ### Outbound completion callbacks (**integrator-hosted URLs**)
    On supported generation **`POST`** bodies you may include **`integrationCallbackUrl`** (aliases: **`webhookUrl`**, **`integratorWebhookUrl`**, **`integratorCallbackUrl`**).

    When the corresponding **`Generation`** row reaches **`completed`** or **`failed`**, Modelclone issues **one HTTPS `POST`** to that URL with a JSON envelope ( **`event`**, **`generationId`**, **`status`**, **`outputUrl`**, etc.). Optionally set **`integratorWebhookSecret`** (aliases **`callbackSecret`**, **`webhookSecret`**) — we send **`X-Modelclone-Signature: sha256=<hex>`** (`HMAC-SHA256` of the raw JSON body).

    **`callbackUrl`** is **not** read for this feature (it is reserved for upstream provider payloads such as **`callBackUrl`** on Creator Studio — Veo callbacks).

    If your endpoint fails or times out we **do not automatically retry**; always **`GET`** **`/api/v1/generations/{id}`** as a fallback.

    (**Not the same:** *client → Modelclone* **`POST`** bodies such as **`type: blob.upload-completed`** or other JSON you send **to our** **`/api/...`** routes are ordinary request payloads from your app — **not** this completion delivery.)

    Dedicated **staging/base URLs are issued manually** — contact integrations support if your contract requires non-production environments.

    ### Authentication
    **Browser:** session cookie from `POST /api/auth/login` (or signup + verify). **`credentials: include`** on fetches.

    **API key / integrations:** Header **`X-Api-Key: mcl_...`** **or** **`Authorization: Bearer mcl_...`**. Paid-plan eligibility applies (see **`API_KEY_REQUIRES_PAID_PLAN`**). Admin JSON routes require an **admin user session**, not API-key-only (**`ADMIN_SESSION_ONLY`**).

    ### Typical JSON envelopes
    Many routes respond with **`{ success: boolean, ... }`**. Errors may use **`error`** or **`message`**. Upload validation failures often include **`solution`** (how to resolve).

    **express-validator failures (400):** `{ success: false, message: "Validation failed", errors: [{ field, message }] }`

    ### File uploads — three patterns
    1. **Vercel Blob (recommended for large/binary):** **`POST /api/upload/blob`** — client obtains a Blob upload token (`handleUpload`), uploads **direct-to-Blob**, then completes via **`type: blob.upload-completed`** in the JSON body.

    2. **Multipart to API (memory):** **`POST /api/upload`** — `multipart/form-data` field **`file`**. Validates type/size (**`generationUploadGuards`**); uploads to Blob or R2 when configured.

    3. **JSON + hosted URL:** many generation routes prefer **`inputImageUrl` / URLs** pointing at **`blob.vercel-storage.com`**, **`r2.dev`**, etc. (SSR-safe allowlist applies).

    Specialized multipart:
    - **Upscaler** `POST /api/upscale` — **`application/json`** `{ "inputImageUrl": "..." }` **or** multipart field **`image`** (≤ 20 MB JPEG/PNG/WebP).
    - **Voice clone** `POST /api/models/{modelId}/voice/clone` and **`.../voices/clone`** — multipart field **`audio`** (`.mp3` / `audio/mpeg`; server limit applies).

    ### Webhooks provider callbacks
    **Inbound** Stripe / crypto **`/api/stripe/webhook`**, KIE **`/api/kie/callback`**, PIAPI **`/api/piapi/callback`**, etc. verify signatures with provider secrets — **omitted from** this SPA/integrator catalog (infra-only).

    **`blob.upload-completed`** is carried on **`POST /api/upload/blob`** (JSON body documented there).

    | Code | When | Fix |
    |------|------|-----|
    | **`NO_FILE`** | Multipart guard, empty file part | Retry with **`file`** / **`audio`** / **`image`** populated. |
    | **`INVALID_FILE_TYPE`** | MIME/extension not accepted | Match allowed image/video MIME types (`generationUploadGuards`). |
    | **`INVALID_IMAGE_TYPE`** | Image MIME mismatch | JPG, PNG, WebP, GIF. |
    | **`INVALID_VIDEO_TYPE`** | Video MIME mismatch | MP4, WebM, MOV. |
    | **`INVALID_LORA_TRAINING_FILE_TYPE`** | LoRA training slot | PNG only. |
    | **`FILE_TOO_LARGE`** / **`LORA_TRAINING_FILE_TOO_LARGE`** | Over Blob limit or 5 MB PNG for LoRA training | Compress; raise **`BLOB_CLIENT_UPLOAD_MAX_BYTES`** only when storage allows (**413**). |
    | **`VIDEO_TOO_SHORT`** / **`VIDEO_TOO_LONG`** | ffprobe constraints | Trim or lengthen clip within limits. |
    | **`GENERATION_QUEUE_FULL`** | Too many concurrent in-flight generations | Wait and retry (**429**-style queue). |
    | **`API_KEY_REQUIRES_PAID_PLAN`** | API key tier | Upgrade Starter+ or trial; see Settings → API. |
    | **`ADMIN_SESSION_ONLY`** | Admin route with **`mcl_`** auth | Use admin-browser session JWT. |
    | **`openapi_unavailable`** | Spec YAML missing from disk | Deploy **`docs/openapi/`** or set **`PUBLIC_*_OPENAPI_PATH`**. |

    Many downstream AI failures are normalized via **`src/lib/userError.js`**: **`message`** + **`solution`** (no raw provider dumps).

    ### Idempotency & rate-limit headers (target)
    Paid write paths SHOULD accept **`Idempotency-Key`** (reuse on safe retries — adoption is incremental).

    **`429`** responses SHOULD echo **`Retry-After`**, **`X-RateLimit-Limit`**, **`X-RateLimit-Remaining`**, **`X-RateLimit-Reset`** when present (see **`RateLimited429`** schema).

    - **413** multipart: Multer **`LIMIT_FILE_SIZE`** returns explicit **`FILE_TOO_LARGE`**, **`maxUploadBytes`**.
    - **429:** Global IP **`/api`** limiter (`rateLimiter`). Generation burst limits when Redis configured.
    - **409:** Storage mode conflicts (e.g. presign disabled when Blob-only).
    - **402:** Insufficient credits (common on Stripe/upscaler/video routes).

    ### Further reading (repo)
    - **`docs/API_REFERENCE.md`**, **`docs/API_PUBLIC_LAUNCH.md`**, **`docs/API_CHANGELOG.md`**
    - **`docs/API_GENERATION_UX_PARITY.md`** — JSON bodies for generations / MCX-style fields.

    ---
    Path inventory is merged by **`npm run openapi:client`** (**`x-openapi-client-generated-at`** ISO timestamp on each run).
  x-doc-class: production
  termsOfService: https://modelclone.app/terms
  x-openapi-client-generated-at: 2026-05-17T17:03:55.179Z
externalDocs:
  description: Repo reference **`docs/API_REFERENCE.md`** · generation JSON **`docs/API_GENERATION_UX_PARITY.md`**
  url: https://github.com/typekpaco2002/mdlcln/tree/main/docs
servers:
  - url: https://modelclone.app
    description: Production — integrations typically use **`mcl_`** keys scoped to billing on this hostname.
security:
  - SessionCookieAuth: []
  - ApiKeyAuth: []
  - BearerAuth: []
tags:
  - name: API
    description: General HTTP API surface
  - name: Auth
    description: Signup, login, sessions, Telegram link
  - name: Billing
    description: Stripe, crypto checkout, subscriptions
  - name: AI & media
    description: Models, generations, NSFW pipeline, LoRA
  - name: Flows Studio
    description: Flow automation (**`/api/flows`**, not mirrored under `/api/v1/flows`)
  - name: Tools
    description: img2img, GPT-X, repurposer, upscaler satellites
  - name: Account
    description: Support chat, referrals, profile-adjacent
  - name: Admin
    description: Staff-only administration
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Self-serve integration keys (**`mcl_`…**).
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: mcl_<secret>
      description: Same credential as **`X-Api-Key`** in Authorization header form.
    SessionCookieAuth:
      type: apiKey
      in: cookie
      name: refreshToken
      description: "JWT session cookie from login/signup (**HttpOnly**, browser). SPA must send **`credentials: 'include'`**."
  schemas:
    Paginated:
      type: object
      required:
        - data
        - hasMore
      properties:
        data:
          type: array
          items: {}
          description: Items for the active page or window.
        nextCursor:
          type: string
          nullable: true
          description: Opaque cursor token for the following page.
        hasMore:
          type: boolean
    HealthProbeBody:
      type: object
      description: Returned by **`GET /health`** probe.
      required:
        - status
      properties:
        status:
          type: string
          example: ok
        timestamp:
          type: string
          format: date-time
    GenerationRecord:
      type: object
      additionalProperties: true
      description: |
        Persisted Generation row (`id`, `type`, `status`, `outputUrl`, credit counters) — polymorphic per `type`.
    SavedModelSummary:
      type: object
      additionalProperties: true
      description: |
        User SavedModel row / list item — onboarding photos, statuses, persona fields.
    UserAccount:
      type: object
      additionalProperties: true
      description: |
        Authenticated User projections from `/auth/profile` and related routes.
    VoiceCloneJob:
      type: object
      additionalProperties: true
      description: |
        ElevenLabs / voice-studio artifacts (`voiceId`, preview URLs, etc.).
    FlowDocument:
      type: object
      additionalProperties: true
      description: |
        Flows Studio graph JSON + metadata (see `/api/flows` family; not mirrored under `/api/v1/flows`).
    FlowRunStatus:
      type: object
      additionalProperties: true
      description: |
        Flows run SSE + polling payloads (`GET /api/flows/runs/{runId}` and related paths).
    SubscriptionState:
      type: object
      additionalProperties: true
      description: |
        Stripe subscription summaries returned from billing/status routes.
    ApiIntegrationKeyStub:
      type: object
      additionalProperties: true
      description: |
        Self-serve API key metadata (`mcl_` keys — tier, label, revocation flag).
    SuccessFlag:
      type: object
      properties:
        success:
          type: boolean
          example: true
      additionalProperties: true
    PlainErrorBody:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        message:
          type: string
      additionalProperties: true
    ValidationErrorBody:
      type: object
      required:
        - success
        - message
        - errors
      properties:
        success:
          type: boolean
          enum:
            - false
        message:
          type: string
          example: Validation failed
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    UploadGuardError:
      type: object
      required:
        - success
        - code
        - message
        - solution
      properties:
        success:
          type: boolean
          enum:
            - false
        code:
          type: string
          enum:
            - NO_FILE
            - INVALID_FILE_TYPE
            - INVALID_IMAGE_TYPE
            - INVALID_VIDEO_TYPE
            - INVALID_LORA_TRAINING_FILE_TYPE
            - FILE_TOO_LARGE
            - LORA_TRAINING_FILE_TOO_LARGE
            - VIDEO_TOO_SHORT
            - VIDEO_TOO_LONG
        message:
          type: string
        solution:
          type: string
        status:
          type: integer
    CreditsShortage402:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        creditsNeeded:
          type: number
        creditsAvailable:
          type: number
    MulterTooLarge413:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: string
          example: FILE_TOO_LARGE
        message:
          type: string
        maxUploadBytes:
          type: integer
        maxUploadLabel:
          type: string
        solution:
          type: string
    StripeCheckoutRequestExample:
      type: object
      required:
        - tierId
        - billingCycle
      properties:
        tierId:
          type: string
          description: Internal tier slug / id advertised by **`GET /pricing`** clients.
          example: pro
        billingCycle:
          type: string
          enum:
            - monthly
            - annual
        referralCode:
          type: string
          nullable: true
          description: Optional referral slug for discounted checkout validation.
        discountCode:
          type: string
          nullable: true
    BlobUploadHandshakeRequest:
      type: object
      description: First leg of **`@vercel/blob/client`** **`handleUpload`** contract.
      additionalProperties: true
    BlobUploadCompletedRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - blob.upload-completed
          description: Webhook-shaped completion payload from **`handleUpload`**.
      additionalProperties: true
    PresignRequestExample:
      type: object
      required:
        - contentType
      properties:
        contentType:
          type: string
          example: image/jpeg
        folder:
          type: string
          enum:
            - uploads
            - training
            - support-attachments
            - generations
    UploadUrlResponseExample:
      type: object
      properties:
        success:
          type: boolean
          example: true
        url:
          type: string
          format: uri
    PresignUrlsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        uploadUrl:
          type: string
          format: uri
          description: Time-limited PUT target (R2).
        publicUrl:
          type: string
          format: uri
          description: Stable read URL after upload completes.
    AuthLoginExample:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 6
    AuthSignupExample:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        name:
          type: string
      description: Mirrors **`validateSignup`** — see **`src/middleware/validation.js`**.
    UpscaleRequestJson:
      type: object
      required:
        - inputImageUrl
      properties:
        inputImageUrl:
          type: string
          format: uri
          description: Preferred — image already uploaded to Blob/CDN reachable by backend.
  responses:
    HealthOk200:
      description: Liveness probe succeeded (`status` = **`ok`**).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/HealthProbeBody"
    NotFound404:
      description: Requested identifier does not exist or is forbidden to reveal.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PlainErrorBody"
    SuccessOk:
      description: Ok — inspect route-specific **`application/json`** body.
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/SuccessFlag"
    Unauthorized:
      description: Missing/invalid session or **`mcl_`** key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PlainErrorBody"
          examples:
            apiKeyMissing:
              value:
                success: false
                error: Unauthorized
    ValidationFailed400:
      description: express-validator (**`validation.js`**) aggregation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorBody"
    UploadRejected400:
      description: File guard (`generationUploadGuards`) — actionable **`solution`**.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UploadGuardError"
    PayloadTooLarge413:
      description: Storage / multer size cap — follow **`solution`** field.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MulterTooLarge413"
    PaymentRequired402:
      description: Credits shortfall vs route price.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreditsShortage402"
    Forbidden403:
      description: Forbidden (role, impersonation mismatch, Stripe permission, …).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PlainErrorBody"
    Conflict409:
      description: State conflict — e.g. presign disabled (**Blob-only**) or duplicate resource.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PlainErrorBody"
    RateLimited429:
      description: |
        IP / burst / concurrency limit (**`GENERATION_QUEUE_FULL`** on generation queues). Clients SHOULD read rate headers when present — header names are conventional, not yet guaranteed on every edge.
      headers:
        Retry-After:
          description: Seconds until the client may retry (HTTP-date also allowed by RFC 7231).
          schema:
            type: string
        X-RateLimit-Limit:
          description: Sliding window quota.
          schema:
            type: string
        X-RateLimit-Remaining:
          description: Credits remaining inside the active window.
          schema:
            type: string
        X-RateLimit-Reset:
          description: POSIX epoch seconds when the window resets.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PlainErrorBody"
    Internal500:
      description: Unhandled error — sanitized user message when present.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PlainErrorBody"
    ServiceUnavailable503:
      description: Dependencies missing (**R2/Blob**/provider) or degraded mode.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PlainErrorBody"
paths:
  /api/admin/activity:
    get:
      operationId: get_api_admin_activity
      summary: List Activity
      description: "**Internal admin-only** (**`src/routes/api.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/api.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/affiliate-lander:
    get:
      operationId: get_api_admin_affiliate_lander
      summary: List Affiliate lander
      description: "**Internal admin-only** (**`src/routes/admin-affiliate-lander.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin-affiliate-lander.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
    post:
      operationId: post_api_admin_affiliate_lander
      summary: Create Affiliate lander
      description: "**Internal admin-only** (**`src/routes/admin-affiliate-lander.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin-affiliate-lander.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin-affiliate-lander.routes.js** (~line **25**) or add **docs/openapi/overrides/POST__admin__affiliate-lander.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/affiliate-lander/{suffix}:
    delete:
      operationId: delete_api_admin_affiliate_lander_suffix
      summary: Delete Affiliate lander
      description: "**Internal admin-only** (**`src/routes/admin-affiliate-lander.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin-affiliate-lander.routes.js
      x-internal: true
      parameters:
        - name: suffix
          in: path
          required: true
          schema:
            type: string
          description: suffix segment from the HTTP path.
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/affiliate-lander/{suffix}/config:
    get:
      operationId: get_api_admin_affiliate_lander_suffix_config
      summary: List Config
      description: "**Internal admin-only** (**`src/routes/admin-affiliate-lander.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin-affiliate-lander.routes.js
      x-internal: true
      parameters:
        - name: suffix
          in: path
          required: true
          schema:
            type: string
          description: suffix segment from the HTTP path.
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/affiliate-lander/{suffix}/draft:
    put:
      operationId: put_api_admin_affiliate_lander_suffix_draft
      summary: Update Draft
      description: "**Internal admin-only** (**`src/routes/admin-affiliate-lander.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin-affiliate-lander.routes.js
      x-internal: true
      parameters:
        - name: suffix
          in: path
          required: true
          schema:
            type: string
          description: suffix segment from the HTTP path.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin-affiliate-lander.routes.js** (~line **54**) or add **docs/openapi/overrides/PUT__admin__affiliate-lander__suffix__draft.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/affiliate-lander/{suffix}/publish:
    post:
      operationId: post_api_admin_affiliate_lander_suffix_publish
      summary: Create Publish
      description: "**Internal admin-only** (**`src/routes/admin-affiliate-lander.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin-affiliate-lander.routes.js
      x-internal: true
      parameters:
        - name: suffix
          in: path
          required: true
          schema:
            type: string
          description: suffix segment from the HTTP path.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin-affiliate-lander.routes.js** (~line **68**) or add **docs/openapi/overrides/POST__admin__affiliate-lander__suffix__publish.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/assign-lora:
    post:
      operationId: post_api_admin_assign_lora
      summary: Create Assign lora
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **2608**) or add **docs/openapi/overrides/POST__admin__assign-lora.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/backup/create:
    post:
      operationId: post_api_admin_backup_create
      summary: Create Create
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **1101**) or add **docs/openapi/overrides/POST__admin__backup__create.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/backup/history:
    get:
      operationId: get_api_admin_backup_history
      summary: List History
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/backup/restore-credits:
    post:
      operationId: post_api_admin_backup_restore_credits
      summary: Create Restore credits
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **1129**) or add **docs/openapi/overrides/POST__admin__backup__restore-credits.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/branding:
    get:
      operationId: get_api_admin_branding
      summary: List Branding
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
    put:
      operationId: put_api_admin_branding
      summary: Update Branding
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **340**) or add **docs/openapi/overrides/PUT__admin__branding.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/bulk-import-gallery:
    post:
      operationId: post_api_admin_bulk_import_gallery
      summary: Create Bulk import gallery
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **3386**) or add **docs/openapi/overrides/POST__admin__bulk-import-gallery.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/cleanup-generations:
    post:
      operationId: post_api_admin_cleanup_generations
      summary: Create Cleanup generations
      description: "**Internal admin-only** (**`src/routes/api.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/api.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photo:
                  type: string
                  format: binary
                  description: "`multipart/form-data` part (binary)."
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/credits/add:
    post:
      operationId: post_api_admin_credits_add
      summary: Create Add
      description: "**Internal admin-only** (**`src/routes/api.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/api.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/api.routes.js** (~line **1294**) or add **docs/openapi/overrides/POST__admin__credits__add.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/disaster-recovery:
    post:
      operationId: post_api_admin_disaster_recovery
      summary: Create Disaster recovery
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **3786**) or add **docs/openapi/overrides/POST__admin__disaster-recovery.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/disaster-recovery/vercel-log-fetch-config:
    get:
      operationId: get_api_admin_disaster_recovery_vercel_log_fetch_config
      summary: List Vercel log fetch config
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/discount-codes:
    get:
      operationId: get_api_admin_discount_codes
      summary: List Discount codes
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
    post:
      operationId: post_api_admin_discount_codes
      summary: Create Discount codes
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **3677**) or add **docs/openapi/overrides/POST__admin__discount-codes.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/discount-codes/{id}:
    patch:
      operationId: patch_api_admin_discount_codes_id
      summary: Modify Discount code
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: id segment from the HTTP path.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **3716**) or add **docs/openapi/overrides/PATCH__admin__discount-codes__id.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
    delete:
      operationId: delete_api_admin_discount_codes_id
      summary: Delete Discount code
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: id segment from the HTTP path.
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/email-unsubscribes:
    get:
      operationId: get_api_admin_email_unsubscribes
      summary: List Email unsubscribes
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/email-unsubscribes/{email}:
    delete:
      operationId: delete_api_admin_email_unsubscribes_email
      summary: Delete Email unsubscribe
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
          description: email segment from the HTTP path.
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/impersonate:
    post:
      operationId: post_api_admin_impersonate
      summary: Create Impersonate
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **3579**) or add **docs/openapi/overrides/POST__admin__impersonate.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/lander-demo-video:
    post:
      operationId: post_api_admin_lander_demo_video
      summary: Create Lander demo video
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **408**) or add **docs/openapi/overrides/POST__admin__lander-demo-video.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
    delete:
      operationId: delete_api_admin_lander_demo_video
      summary: Delete Lander demo video
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/lander-new/config:
    get:
      operationId: get_api_admin_lander_new_config
      summary: List Config
      description: "**Internal admin-only** (**`src/routes/admin-lander-new.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin-lander-new.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/lander-new/draft:
    put:
      operationId: put_api_admin_lander_new_draft
      summary: Update Draft
      description: "**Internal admin-only** (**`src/routes/admin-lander-new.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin-lander-new.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin-lander-new.routes.js** (~line **21**) or add **docs/openapi/overrides/PUT__admin__lander-new__draft.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/lander-new/publish:
    post:
      operationId: post_api_admin_lander_new_publish
      summary: Create Publish
      description: "**Internal admin-only** (**`src/routes/admin-lander-new.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin-lander-new.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin-lander-new.routes.js** (~line **31**) or add **docs/openapi/overrides/POST__admin__lander-new__publish.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/lora-recovery:
    post:
      operationId: post_api_admin_lora_recovery
      summary: Create Lora recovery
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **2700**) or add **docs/openapi/overrides/POST__admin__lora-recovery.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/lost-generations/reconcile:
    post:
      operationId: post_api_admin_lost_generations_reconcile
      summary: Create Reconcile
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **3042**) or add **docs/openapi/overrides/POST__admin__lost-generations__reconcile.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/lost-generations/reconcile-all:
    post:
      operationId: post_api_admin_lost_generations_reconcile_all
      summary: Create Reconcile all
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **3231**) or add **docs/openapi/overrides/POST__admin__lost-generations__reconcile-all.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/marketing-campaigns:
    get:
      operationId: get_api_admin_marketing_campaigns
      summary: List Marketing campaigns
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
    post:
      operationId: post_api_admin_marketing_campaigns
      summary: Create Marketing campaigns
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **2025**) or add **docs/openapi/overrides/POST__admin__marketing-campaigns.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/marketing-campaigns/{campaignId}/cancel:
    post:
      operationId: post_api_admin_marketing_campaigns_campaignid_cancel
      summary: Create Cancel
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
          description: campaignId segment from the HTTP path.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **2099**) or add **docs/openapi/overrides/POST__admin__marketing-campaigns__campaignId__cancel.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/models/{modelId}/fix-photos:
    post:
      operationId: post_api_admin_models_modelid_fix_photos
      summary: Create Fix photos
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: modelId
          in: path
          required: true
          schema:
            type: string
          description: modelId segment from the HTTP path.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **1284**) or add **docs/openapi/overrides/POST__admin__models__modelId__fix-photos.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/models/{modelId}/looks-unlock:
    post:
      operationId: post_api_admin_models_modelid_looks_unlock
      summary: Create Looks unlock
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: modelId
          in: path
          required: true
          schema:
            type: string
          description: modelId segment from the HTTP path.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **1239**) or add **docs/openapi/overrides/POST__admin__models__modelId__looks-unlock.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/models/{modelId}/nsfw-override:
    post:
      operationId: post_api_admin_models_modelid_nsfw_override
      summary: Create Nsfw override
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: modelId
          in: path
          required: true
          schema:
            type: string
          description: modelId segment from the HTTP path.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **1193**) or add **docs/openapi/overrides/POST__admin__models__modelId__nsfw-override.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "404":
          $ref: "#/components/responses/NotFound404"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/nsfw/recover-failed-runpod:
    post:
      operationId: post_api_admin_nsfw_recover_failed_runpod
      summary: Submit Recover failed runpod
      description: "**Internal admin-only** (**`src/routes/api.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/api.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/api.routes.js** (~line **1313**) or add **docs/openapi/overrides/POST__admin__nsfw__recover-failed-runpod.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/nudes-pack-poses:
    get:
      operationId: get_api_admin_nudes_pack_poses
      summary: List Nudes pack poses
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
    put:
      operationId: put_api_admin_nudes_pack_poses
      summary: Update Nudes pack poses
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **760**) or add **docs/openapi/overrides/PUT__admin__nudes-pack-poses.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/pricing/generation:
    get:
      operationId: get_api_admin_pricing_generation
      summary: List Generation
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
    put:
      operationId: put_api_admin_pricing_generation
      summary: Update Generation
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **611**) or add **docs/openapi/overrides/PUT__admin__pricing__generation.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/pricing/generation/reset:
    post:
      operationId: post_api_admin_pricing_generation_reset
      summary: Create Reset
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **633**) or add **docs/openapi/overrides/POST__admin__pricing__generation__reset.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/prompt-templates:
    get:
      operationId: get_api_admin_prompt_templates
      summary: List Prompt templates
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      security:
        - SessionCookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
    put:
      operationId: put_api_admin_prompt_templates
      summary: Update Prompt templates
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
      deprecated: true
      x-modelclone-generated-from: src/routes/admin.routes.js
      x-internal: true
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
          description: Optional idempotency / replay-protection token for safe retries (conventional HTTP header — enforcement is route-specific).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
          description: Pagination size (detected from handler).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      security:
        - SessionCookieAuth: []
      requestBody:
        required: false
        description: Request shape not statically extracted from **express-validator**. Inspect source **src/routes/admin.routes.js** (~line **659**) or add **docs/openapi/overrides/PUT__admin__prompt-templates.md**.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Route-defined JSON envelope (no static schema mined).
      responses:
        "200":
          $ref: "#/components/responses/SuccessOk"
        "400":
          $ref: "#/components/responses/ValidationFailed400"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden403"
        "409":
          $ref: "#/components/responses/Conflict409"
        "413":
          $ref: "#/components/responses/PayloadTooLarge413"
        "429":
          $ref: "#/components/responses/RateLimited429"
        "500":
          $ref: "#/components/responses/Internal500"
        "503":
          $ref: "#/components/responses/ServiceUnavailable503"
  /api/admin/provider-balances:
    get:
      operationId: get_api_admin_provider_balances
      summary: List Provider balances
      description: "**Internal admin-only** (**`src/routes/admin.routes.js`**). Session JWT enforced — `mcl_` REST keys are rejected (**ADMIN_SESSION_ONLY**)."
      tags:
        - Admin
[...]
