openapi: 3.0.3
info:
  title: ModelClone Client & integration API
  version: "1.0.0"
  description: |
    Generated OpenAPI surface for the ModelClone web app and HTTP integrations.
    **Production base URL:** https://modelclone.app
    **Auth:** Most routes require a browser session cookie from login, or `X-Api-Key` / `Authorization: Bearer` with an `mcl_` API key (paid plans). Admin routes require an admin session (not API-key only).
    **v1 mirror:** The same REST handlers are also mounted under `/api/v1/...` (except Flow Studio — use `/api/flows/...` only).
    **Generated at:** 2026-05-12T12:02:17.060Z
    **Coverage:** Literal Express path strings only; template-literal routes and some dynamic mounts may be absent. Regenerate with `npm run openapi:client` after route changes.

servers:
  - url: https://modelclone.app
    description: Production

tags:
  - name: API
    description: General HTTP API
  - name: Auth
    description: Signup, login, tokens, password, Telegram link
  - name: Billing
    description: Stripe, crypto checkout, subscriptions
  - name: AI & media
    description: Models, generations, NSFW, LoRA
  - name: Flows Studio
    description: Flow automation (mounted under /api/flows only)
  - name: Tools
    description: img2img, GPT-X, repurposer satellites
  - name: Account
    description: Support chat, referrals, profile-adjacent
  - name: Admin
    description: Staff-only administration

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Self-serve API keys (prefix `mcl_`; eligible paid plans)
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: mcl_<secret>
      description: Same token as ApiKeyAuth; use Authorization header instead of X-Api-Key.

paths:
  /api/admin/activity:
    get:
      operationId: get_api_admin_activity
      summary: GET /api/admin/activity
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/affiliate-lander:
    get:
      operationId: get_api_admin_affiliate_lander
      summary: GET /api/admin/affiliate-lander
      description: "Auto-discovered from `src/routes/admin-affiliate-lander.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    post:
      operationId: post_api_admin_affiliate_lander
      summary: POST /api/admin/affiliate-lander
      description: "Auto-discovered from `src/routes/admin-affiliate-lander.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/affiliate-lander/:suffix":
    delete:
      operationId: delete_api_admin_affiliate_lander_suffix
      summary: "DELETE /api/admin/affiliate-lander/:suffix"
      description: "Auto-discovered from `src/routes/admin-affiliate-lander.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/affiliate-lander/:suffix/config":
    get:
      operationId: get_api_admin_affiliate_lander_suffix_config
      summary: "GET /api/admin/affiliate-lander/:suffix/config"
      description: "Auto-discovered from `src/routes/admin-affiliate-lander.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/affiliate-lander/:suffix/draft":
    put:
      operationId: put_api_admin_affiliate_lander_suffix_draft
      summary: "PUT /api/admin/affiliate-lander/:suffix/draft"
      description: "Auto-discovered from `src/routes/admin-affiliate-lander.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/affiliate-lander/:suffix/publish":
    post:
      operationId: post_api_admin_affiliate_lander_suffix_publish
      summary: "POST /api/admin/affiliate-lander/:suffix/publish"
      description: "Auto-discovered from `src/routes/admin-affiliate-lander.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/assign-lora:
    post:
      operationId: post_api_admin_assign_lora
      summary: POST /api/admin/assign-lora
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/backup/create:
    post:
      operationId: post_api_admin_backup_create
      summary: POST /api/admin/backup/create
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/backup/history:
    get:
      operationId: get_api_admin_backup_history
      summary: GET /api/admin/backup/history
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/backup/restore-credits:
    post:
      operationId: post_api_admin_backup_restore_credits
      summary: POST /api/admin/backup/restore-credits
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/branding:
    get:
      operationId: get_api_admin_branding
      summary: GET /api/admin/branding
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    put:
      operationId: put_api_admin_branding
      summary: PUT /api/admin/branding
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/bulk-import-gallery:
    post:
      operationId: post_api_admin_bulk_import_gallery
      summary: POST /api/admin/bulk-import-gallery
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/cleanup-generations:
    post:
      operationId: post_api_admin_cleanup_generations
      summary: POST /api/admin/cleanup-generations
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/credits/add:
    post:
      operationId: post_api_admin_credits_add
      summary: POST /api/admin/credits/add
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/disaster-recovery:
    post:
      operationId: post_api_admin_disaster_recovery
      summary: POST /api/admin/disaster-recovery
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/disaster-recovery/vercel-log-fetch-config:
    get:
      operationId: get_api_admin_disaster_recovery_vercel_log_fetch_config
      summary: GET /api/admin/disaster-recovery/vercel-log-fetch-config
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/discount-codes:
    get:
      operationId: get_api_admin_discount_codes
      summary: GET /api/admin/discount-codes
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    post:
      operationId: post_api_admin_discount_codes
      summary: POST /api/admin/discount-codes
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/discount-codes/:id":
    delete:
      operationId: delete_api_admin_discount_codes_id
      summary: "DELETE /api/admin/discount-codes/:id"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    patch:
      operationId: patch_api_admin_discount_codes_id
      summary: "PATCH /api/admin/discount-codes/:id"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/email-unsubscribes:
    get:
      operationId: get_api_admin_email_unsubscribes
      summary: GET /api/admin/email-unsubscribes
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/email-unsubscribes/:email":
    delete:
      operationId: delete_api_admin_email_unsubscribes_email
      summary: "DELETE /api/admin/email-unsubscribes/:email"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/impersonate:
    post:
      operationId: post_api_admin_impersonate
      summary: POST /api/admin/impersonate
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/lander-demo-video:
    delete:
      operationId: delete_api_admin_lander_demo_video
      summary: DELETE /api/admin/lander-demo-video
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    post:
      operationId: post_api_admin_lander_demo_video
      summary: POST /api/admin/lander-demo-video
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/lander-new/config:
    get:
      operationId: get_api_admin_lander_new_config
      summary: GET /api/admin/lander-new/config
      description: "Auto-discovered from `src/routes/admin-lander-new.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/lander-new/draft:
    put:
      operationId: put_api_admin_lander_new_draft
      summary: PUT /api/admin/lander-new/draft
      description: "Auto-discovered from `src/routes/admin-lander-new.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/lander-new/publish:
    post:
      operationId: post_api_admin_lander_new_publish
      summary: POST /api/admin/lander-new/publish
      description: "Auto-discovered from `src/routes/admin-lander-new.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/lora-recovery:
    post:
      operationId: post_api_admin_lora_recovery
      summary: POST /api/admin/lora-recovery
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/lost-generations/reconcile:
    post:
      operationId: post_api_admin_lost_generations_reconcile
      summary: POST /api/admin/lost-generations/reconcile
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/lost-generations/reconcile-all:
    post:
      operationId: post_api_admin_lost_generations_reconcile_all
      summary: POST /api/admin/lost-generations/reconcile-all
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/marketing-campaigns:
    get:
      operationId: get_api_admin_marketing_campaigns
      summary: GET /api/admin/marketing-campaigns
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    post:
      operationId: post_api_admin_marketing_campaigns
      summary: POST /api/admin/marketing-campaigns
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/marketing-campaigns/:campaignId/cancel":
    post:
      operationId: post_api_admin_marketing_campaigns_campaignid_cancel
      summary: "POST /api/admin/marketing-campaigns/:campaignId/cancel"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/models/:modelId/fix-photos":
    post:
      operationId: post_api_admin_models_modelid_fix_photos
      summary: "POST /api/admin/models/:modelId/fix-photos"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/models/:modelId/looks-unlock":
    post:
      operationId: post_api_admin_models_modelid_looks_unlock
      summary: "POST /api/admin/models/:modelId/looks-unlock"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/models/:modelId/nsfw-override":
    post:
      operationId: post_api_admin_models_modelid_nsfw_override
      summary: "POST /api/admin/models/:modelId/nsfw-override"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/nsfw/recover-failed-runpod:
    post:
      operationId: post_api_admin_nsfw_recover_failed_runpod
      summary: POST /api/admin/nsfw/recover-failed-runpod
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/nudes-pack-poses:
    get:
      operationId: get_api_admin_nudes_pack_poses
      summary: GET /api/admin/nudes-pack-poses
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    put:
      operationId: put_api_admin_nudes_pack_poses
      summary: PUT /api/admin/nudes-pack-poses
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/pricing/generation:
    get:
      operationId: get_api_admin_pricing_generation
      summary: GET /api/admin/pricing/generation
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    put:
      operationId: put_api_admin_pricing_generation
      summary: PUT /api/admin/pricing/generation
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/pricing/generation/reset:
    post:
      operationId: post_api_admin_pricing_generation_reset
      summary: POST /api/admin/pricing/generation/reset
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/prompt-templates:
    get:
      operationId: get_api_admin_prompt_templates
      summary: GET /api/admin/prompt-templates
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    put:
      operationId: put_api_admin_prompt_templates
      summary: PUT /api/admin/prompt-templates
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/provider-balances:
    get:
      operationId: get_api_admin_provider_balances
      summary: GET /api/admin/provider-balances
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/recover-payment:
    post:
      operationId: post_api_admin_recover_payment
      summary: POST /api/admin/recover-payment
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/referrals/reconcile:
    post:
      operationId: post_api_admin_referrals_reconcile
      summary: POST /api/admin/referrals/reconcile
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/runpod/batch-reconcile:
    post:
      operationId: post_api_admin_runpod_batch_reconcile
      summary: POST /api/admin/runpod/batch-reconcile
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/safety-checker-config:
    get:
      operationId: get_api_admin_safety_checker_config
      summary: GET /api/admin/safety-checker-config
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    put:
      operationId: put_api_admin_safety_checker_config
      summary: PUT /api/admin/safety-checker-config
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/safety/child-incidents:
    get:
      operationId: get_api_admin_safety_child_incidents
      summary: GET /api/admin/safety/child-incidents
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/send-marketing-email:
    post:
      operationId: post_api_admin_send_marketing_email
      summary: POST /api/admin/send-marketing-email
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/send-promo-50off:
    post:
      operationId: post_api_admin_send_promo_50off
      summary: POST /api/admin/send-promo-50off
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/stats:
    get:
      operationId: get_api_admin_stats
      summary: GET /api/admin/stats
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/stripe-revenue:
    get:
      operationId: get_api_admin_stripe_revenue
      summary: GET /api/admin/stripe-revenue
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/stripe/reconcile-user/:userId":
    post:
      operationId: post_api_admin_stripe_reconcile_user_userid
      summary: "POST /api/admin/stripe/reconcile-user/:userId"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/subscriptions/reconcile:
    post:
      operationId: post_api_admin_subscriptions_reconcile
      summary: POST /api/admin/subscriptions/reconcile
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/subscriptions/refills/audit:
    post:
      operationId: post_api_admin_subscriptions_refills_audit
      summary: POST /api/admin/subscriptions/refills/audit
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/subscriptions/refills/reconcile:
    post:
      operationId: post_api_admin_subscriptions_refills_reconcile
      summary: POST /api/admin/subscriptions/refills/reconcile
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/telemetry/edge-events:
    get:
      operationId: get_api_admin_telemetry_edge_events
      summary: GET /api/admin/telemetry/edge-events
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/telemetry/endpoint-health:
    get:
      operationId: get_api_admin_telemetry_endpoint_health
      summary: GET /api/admin/telemetry/endpoint-health
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/telemetry/overview:
    get:
      operationId: get_api_admin_telemetry_overview
      summary: GET /api/admin/telemetry/overview
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/telemetry/requests:
    get:
      operationId: get_api_admin_telemetry_requests
      summary: GET /api/admin/telemetry/requests
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/tutorial-video:
    delete:
      operationId: delete_api_admin_tutorial_video
      summary: DELETE /api/admin/tutorial-video
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    post:
      operationId: post_api_admin_tutorial_video
      summary: POST /api/admin/tutorial-video
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/tutorial-video-slot:
    post:
      operationId: post_api_admin_tutorial_video_slot
      summary: POST /api/admin/tutorial-video-slot
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/tutorial-video-slot-commit:
    post:
      operationId: post_api_admin_tutorial_video_slot_commit
      summary: POST /api/admin/tutorial-video-slot-commit
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/tutorial-video-slots:
    get:
      operationId: get_api_admin_tutorial_video_slots
      summary: GET /api/admin/tutorial-video-slots
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/upload-email-video:
    post:
      operationId: post_api_admin_upload_email_video
      summary: POST /api/admin/upload-email-video
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/upload/blob:
    post:
      operationId: post_api_admin_upload_blob
      summary: POST /api/admin/upload/blob
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/users:
    get:
      operationId: get_api_admin_users
      summary: GET /api/admin/users
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:id":
    delete:
      operationId: delete_api_admin_users_id
      summary: "DELETE /api/admin/users/:id"
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    get:
      operationId: get_api_admin_users_id
      summary: "GET /api/admin/users/:id"
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:id/api-keys":
    get:
      operationId: get_api_admin_users_id_api_keys
      summary: "GET /api/admin/users/:id/api-keys"
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    post:
      operationId: post_api_admin_users_id_api_keys
      summary: "POST /api/admin/users/:id/api-keys"
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:id/api-keys/:keyId":
    delete:
      operationId: delete_api_admin_users_id_api_keys_keyid
      summary: "DELETE /api/admin/users/:id/api-keys/:keyId"
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:id/purchases":
    get:
      operationId: get_api_admin_users_id_purchases
      summary: "GET /api/admin/users/:id/purchases"
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:id/purchases/:purchaseId/refund":
    post:
      operationId: post_api_admin_users_id_purchases_purchaseid_refund
      summary: "POST /api/admin/users/:id/purchases/:purchaseId/refund"
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:id/stripe-sync":
    post:
      operationId: post_api_admin_users_id_stripe_sync
      summary: "POST /api/admin/users/:id/stripe-sync"
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:userId/ban-lock":
    post:
      operationId: post_api_admin_users_userid_ban_lock
      summary: "POST /api/admin/users/:userId/ban-lock"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:userId/credits":
    post:
      operationId: post_api_admin_users_userid_credits
      summary: "POST /api/admin/users/:userId/credits"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:userId/models":
    get:
      operationId: get_api_admin_users_userid_models
      summary: "GET /api/admin/users/:userId/models"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/admin/users/:userId/pro-access":
    post:
      operationId: post_api_admin_users_userid_pro_access
      summary: "POST /api/admin/users/:userId/pro-access"
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/users/by-email/audit:
    post:
      operationId: post_api_admin_users_by_email_audit
      summary: POST /api/admin/users/by-email/audit
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/users/settings:
    post:
      operationId: post_api_admin_users_settings
      summary: POST /api/admin/users/settings
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/voice-hosting/due:
    get:
      operationId: get_api_admin_voice_hosting_due
      summary: GET /api/admin/voice-hosting/due
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/voice-hosting/run:
    post:
      operationId: post_api_admin_voice_hosting_run
      summary: POST /api/admin/voice-hosting/run
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/voice-platform/cleanup-zombies:
    post:
      operationId: post_api_admin_voice_platform_cleanup_zombies
      summary: POST /api/admin/voice-platform/cleanup-zombies
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/voice-platform/config:
    get:
      operationId: get_api_admin_voice_platform_config
      summary: GET /api/admin/voice-platform/config
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    put:
      operationId: put_api_admin_voice_platform_config
      summary: PUT /api/admin/voice-platform/config
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/admin/winback-email-template:
    get:
      operationId: get_api_admin_winback_email_template
      summary: GET /api/admin/winback-email-template
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    put:
      operationId: put_api_admin_winback_email_template
      summary: PUT /api/admin/winback-email-template
      description: "Auto-discovered from `src/routes/admin.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Admin
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/affiliate-lander/:suffix/published":
    get:
      operationId: get_api_affiliate_lander_suffix_published
      summary: "GET /api/affiliate-lander/:suffix/published"
      description: "Auto-discovered from `src/routes/affiliate-lander-public.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/2fa/disable:
    post:
      operationId: post_api_auth_2fa_disable
      summary: POST /api/auth/2fa/disable
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/2fa/generate:
    post:
      operationId: post_api_auth_2fa_generate
      summary: POST /api/auth/2fa/generate
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/2fa/status:
    get:
      operationId: get_api_auth_2fa_status
      summary: GET /api/auth/2fa/status
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/2fa/verify:
    post:
      operationId: post_api_auth_2fa_verify
      summary: POST /api/auth/2fa/verify
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/change-email/request:
    post:
      operationId: post_api_auth_change_email_request
      summary: POST /api/auth/change-email/request
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/change-email/verify:
    post:
      operationId: post_api_auth_change_email_verify
      summary: POST /api/auth/change-email/verify
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/change-password:
    post:
      operationId: post_api_auth_change_password
      summary: POST /api/auth/change-password
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/check-email:
    post:
      operationId: post_api_auth_check_email
      summary: POST /api/auth/check-email
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/firebase-signup:
    post:
      operationId: post_api_auth_firebase_signup
      summary: POST /api/auth/firebase-signup
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/google:
    post:
      operationId: post_api_auth_google
      summary: POST /api/auth/google
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/impersonate-login:
    get:
      operationId: get_api_auth_impersonate_login
      summary: GET /api/auth/impersonate-login
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/login:
    post:
      operationId: post_api_auth_login
      summary: POST /api/auth/login
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/logout:
    post:
      operationId: post_api_auth_logout
      summary: POST /api/auth/logout
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/profile:
    get:
      operationId: get_api_auth_profile
      summary: GET /api/auth/profile
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    put:
      operationId: put_api_auth_profile
      summary: PUT /api/auth/profile
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/refresh:
    post:
      operationId: post_api_auth_refresh
      summary: POST /api/auth/refresh
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/request-password-reset:
    post:
      operationId: post_api_auth_request_password_reset
      summary: POST /api/auth/request-password-reset
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/resend-code:
    post:
      operationId: post_api_auth_resend_code
      summary: POST /api/auth/resend-code
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/resend-firebase-code:
    post:
      operationId: post_api_auth_resend_firebase_code
      summary: POST /api/auth/resend-firebase-code
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/reset-password:
    post:
      operationId: post_api_auth_reset_password
      summary: POST /api/auth/reset-password
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/signup:
    post:
      operationId: post_api_auth_signup
      summary: POST /api/auth/signup
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/telegram:
    post:
      operationId: post_api_auth_telegram
      summary: POST /api/auth/telegram
      description: "Auto-discovered from `src/routes/auth/telegram.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/telegram/link:
    post:
      operationId: post_api_auth_telegram_link
      summary: POST /api/auth/telegram/link
      description: "Auto-discovered from `src/routes/auth/telegram.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/verify-email:
    post:
      operationId: post_api_auth_verify_email
      summary: POST /api/auth/verify-email
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/auth/verify-firebase-email:
    post:
      operationId: post_api_auth_verify_firebase_email
      summary: POST /api/auth/verify-firebase-email
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Auth
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/avatars:
    get:
      operationId: get_api_avatars
      summary: GET /api/avatars
      description: "Auto-discovered from `src/routes/avatar.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
    post:
      operationId: post_api_avatars
      summary: POST /api/avatars
      description: "Auto-discovered from `src/routes/avatar.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/avatars/:id":
    delete:
      operationId: delete_api_avatars_id
      summary: "DELETE /api/avatars/:id"
      description: "Auto-discovered from `src/routes/avatar.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/avatars/:id/generate":
    post:
      operationId: post_api_avatars_id_generate
      summary: "POST /api/avatars/:id/generate"
      description: "Auto-discovered from `src/routes/avatar.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/avatars/:id/videos":
    get:
      operationId: get_api_avatars_id_videos
      summary: "GET /api/avatars/:id/videos"
      description: "Auto-discovered from `src/routes/avatar.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/avatars/videos/:videoId":
    get:
      operationId: get_api_avatars_videos_videoid
      summary: "GET /api/avatars/videos/:videoId"
      description: "Auto-discovered from `src/routes/avatar.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/brand:
    get:
      operationId: get_api_brand
      summary: GET /api/brand
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/course/complete-video:
    post:
      operationId: post_api_course_complete_video
      summary: POST /api/course/complete-video
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/course/status:
    get:
      operationId: get_api_course_status
      summary: GET /api/course/status
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/crypto/create-payment:
    post:
      operationId: post_api_crypto_create_payment
      summary: POST /api/crypto/create-payment
      description: "Auto-discovered from `src/routes/nowpayments.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Billing
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/crypto/currencies:
    get:
      operationId: get_api_crypto_currencies
      summary: GET /api/crypto/currencies
      description: "Auto-discovered from `src/routes/nowpayments.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Billing
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/crypto/status:
    get:
      operationId: get_api_crypto_status
      summary: GET /api/crypto/status
      description: "Auto-discovered from `src/routes/nowpayments.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - Billing
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/debug/email-config:
    get:
      operationId: get_api_debug_email_config
      summary: GET /api/debug/email-config
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/designer-studio/kling-i2v:
    post:
      operationId: post_api_designer_studio_kling_i2v
      summary: POST /api/designer-studio/kling-i2v
      description: "Auto-discovered from `src/routes/designer-studio.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/designer-studio/kling-motion:
    post:
      operationId: post_api_designer_studio_kling_motion
      summary: POST /api/designer-studio/kling-motion
      description: "Auto-discovered from `src/routes/designer-studio.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/designer-studio/nano-banana-pro:
    post:
      operationId: post_api_designer_studio_nano_banana_pro
      summary: POST /api/designer-studio/nano-banana-pro
      description: "Auto-discovered from `src/routes/designer-studio.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/designer-studio/task/:taskId":
    get:
      operationId: get_api_designer_studio_task_taskid
      summary: "GET /api/designer-studio/task/:taskId"
      description: "Auto-discovered from `src/routes/designer-studio.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/docs/client-api.openapi.yaml:
    get:
      operationId: get_api_docs_client_api_openapi_yaml
      summary: GET /api/docs/client-api.openapi.yaml
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  /api/download:
    get:
      operationId: get_api_download
      summary: GET /api/download
      description: "Auto-discovered from `src/routes/api.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
          description: Rate limited
        "500":
          description: Server error
  "/api/drafts/:feature":
    delete:
      operationId: delete_api_drafts_feature
      summary: "DELETE /api/drafts/:feature"
      description: "Auto-discovered from `src/routes/draft.routes.js`. Literal path scan — dynamic routes may be missing; see `docs/generated/HTTP_ROUTES.md` after `npm run docs:registry`."
      tags:
        - API
      responses:
        "200":
          description: Success (shape varies by endpoint)
        "400":
          description: Bad request
        "401":
          description: Unauthorized (session or API key required for most routes)
        "429":
[...]
